
body{
    background-color: rgb(41, 41, 41);
}
.retroFont{font-family: 'Press Start 2P', system-ui;
}
main{
    display:grid;
}
h1,h2,h3,h4,h5,h6{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 55, 55);
    padding: 15px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color:midnightblue;
    font-family:'Press Start 2P', system-ui;
}
h1{
    color:rgb(255, 0, 0);
    
}
p {
    color: yellow;
    text-align: center;
    
}
ul,ol{
    color:aqua;
    margin-bottom: 40px;
    font-family: 'Bungee Spice', sans-serif;
}

img{
    width: 1000px;
    height: 500px;
    border-radius: 50%;
    border: 4px solid indigo

}

a{
    font-size:x-large;
}
* {
    margin: 10px;
}
.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#vaderQuote{
    padding-top: 80px;
    text-align: right;
    color: orange;
    font-size:xx-large;
    font-family: 'Satisfy', cursive;
}
.gridcontainer{
    display: grid;
    column-gap: normal;
    row-gap: 20px;
    grid-template-columns: auto auto ;
}
.grid1title{
    grid-column: 1 / 6;
    grid-row: 1/ 2;
}
.grid2maintext{
grid-column: 1 / 6;
grid-row: 2 / 3;

}
.grid3facts{
grid-column: 1 / 3;
grid-row: 4;
}  
.grid4appearances{
grid-column: 4/ 6;
grid-row: 4;
    }  
.grid5additionaltext{
grid-column: 1 / 6;
grid-row: 5;
}  